/* @font-face{
    src: url(../webfonts/TisaSansPro-Regular.ttf);
    font-family: tisa;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
body{
    font-family: 'Roboto';
}
.text12{
    font-size: 12px;
}
.text14{
    font-size: 14px;
}
.text16{
    font-size: 16px;
}
.text18{
    font-size: 18px;
}
.textTalbat{
    color: #FF5A00;
}
.btnTalabat{
    background-color: #5251FF;
    color: white;
    width: 100%;
    height: 64px;
}
.btnTalabat:hover{
    background-color: #4545e2;
    color: white;
}
.btnAsk{
    height: 54px;
    border: 1px solid #C2C9D1;
}
.btnColors{
    height: 112px;
    border: 1px solid #C2C9D1;
    width: 74px;
}
.btnActive{
    border: 2px solid #333333;
    border-radius: 8px;
}
.heightInput{
    height: 48px;
}
.shadows{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.headerForm{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.textLightBlack{
    color:#333333;
}
.newProgress{
    height: 0.2rem;
}
/* ================================= home page ===================== */
.bgGray{
    background-color: #F9FAFA;;
}
.bottomBorder{
    border-bottom: 1px solid #C2C9D1;
}
.badgGreen{
    background-color: #41AD49;
    color: white;
    border-radius: 14px;
}
.gBorder{
    border: 1px solid #C2C9D1;
    border-radius: 5px;
}
.badgePrimary{
    background-color: #5251FF;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    padding-top: 8px;
    color: white;
    align-self: baseline;
}
.badgeSecondary{
    background-color: #C2C9D1;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    padding-top: 8px;
    color: white;
    align-self: baseline;
}
.imgSponsor{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}